Django==1.10
django-extensions==1.6.7
django-report-utils==0.3.15
djangorestframework==3.6.2
djoser==0.6.0
django-oauth-toolkit==0.12.0
django-easy-pdf==0.1.0
pytz==2017.2
et-xmlfile==1.0.1
psycopg2==2.6.1
Flat==0.1
jdcal==1.2
openpyxl==2.3.5
Pillow==3.3.1
python-dateutil==2.5.3
reportlab==3.3.0
simplejson==3.8.2
six==1.10.0
uWSGI==2.0.13.1
uwsgitop==0.9
html5lib==1.0b8
PyPDF2==1.26.0
qrcode==5.3
xhtml2pdf==0.0.6
